$blue: #0C62AD;
$white: #fff;
$gray: #f2f2f2;
$black: #000;

$border: darken($gray, 20%);

@mixin light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@mixin regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin medium {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

@mixin bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


body {
	@include regular;
	margin: 0;
	padding: 0;
	background-color: $gray;
	position: relative;
}

.container {
	width: 100%;
	max-width: 49em;
	margin: 0 auto;
}

div, span, input, textarea {
	box-sizing: border-box;
}

button, svg, .queueNav div, td, tr {
	transition: all .1s linear;
}


// Miscellaneous

ul.unstyled {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sectionTitle {
	text-transform: uppercase;
	font-size: 1em;
	color: rgba($black, .3);
	@include bold;
}

.button {
	padding: 1em 2em;
	color: $white;
	background: $blue;
	border: none;
	outline: none;
	border-radius: 4px;
	@include regular;
	cursor: pointer;
}

.BGimage {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	&.bodyBG {
		opacity: .1;
	}
}

#legalInfo {
	width: 100%;
	max-width: 31em;
	margin: 0 auto 4em;
	border-top: 1px solid $border;
	padding-top: 4em;
	box-sizing: border-box;
	#legalBlock {
		width: 100%;
		height: 21em;
		overflow: scroll;
		border: 1px solid $border;
		border-radius: 4px;
		background-color: $white;
		padding: 0 1em;
		margin-top: .5em;
		p {
			font-size: .8em;
		}
	}
}

.queue {
	li span, td span {
		margin-right: 2em;
		&.org {
			@include bold;
		}
		&.title {
			@include light;
		}
	}
}

// Header

header {
	background-color: rgba($blue, .6);
	color: $white;
	padding: 4rem 2rem 1rem;
	overflow: hidden;
	position: relative;
	a {
		color: $white;
	}
	#logo {
		.name {
			font-size: 32px;
			@include bold;
		    position: relative;
		    top: -12px;
		}
		img {
			width: 60px;
			margin-right: 1em;
		}
	}
	#nav {
		float: right;
		margin-top: 29px;
		li {
			float: left;
			margin-right: 2em;
			@include medium;
			&:last-child {
				margin-right: 0;
			}
			a {
				text-decoration: none;
			}
		}
	}
	.intro {
		margin: 40px 0 40px 80px;
		max-width: 35rem;
		@include light;
	}
	@media (max-width: 550px) {
		padding: 2rem 1rem;
		#logo {
			.name {
				font-size: 20px;
				top: -8px;
			}
			img {
				width: 30px;
			}
		}
		#nav {
			margin-top: 5px;
		}
		.intro {
			margin: 3em 0 0;
			font-size: .8em;
		}
	}
}

// Main

#selectedPartners {
	background-color: $white;
	padding: 2em 0;
	text-align: center;
	.sectionTitle {
		text-align: center;
	}
	img {
		text-align: center;
		margin: 2em;
		width: 100%;
		max-width: 11.4%;
	    vertical-align: middle;
	}
	@media (max-width: 800px) {
		img {
			margin: 1em;
		}
	}
	@media (max-width: 470px) {
		img {
			margin: 1.5em;
			max-width: 19%;
		}
	}
}

#joinButton {
	text-align: center;
	margin: 6em 0;
	.button {
		font-size: 1.5em;
		&:hover {
			background-color: $black;
		}
	}
	@media (max-width: 450px) {
		padding: 1em;
		.button {
			font-size: 1.25em;
			padding: 1em;
		}
	}
}

.queueNav {
	margin: 1em 0;
	overflow: hidden;
	border: 4px solid $white;
	border-radius: 8px;
	span {
		width: 50%;
		float: left;
		padding: 1em;
		text-align: center;
		@include medium;
		cursor: pointer;
		&:first-child {
			border-right: 4px solid $white;
		}
		&.active {
			background-color: $white;
			&:hover {
				background-color: rgba($white, 1);
			}
		}
		&:hover {
			background-color: rgba($white, .33);
		}
	}
	@media (max-width: 800px) {
		padding: 1em;
		span {
			width: 100%;
		}
	}
}

#queue {
	margin: 0 0 4em;
	li {
		background-color: $white;
		padding: 2em;
		margin: .5em 0;
		span {
			margin-right: 2em;
			&.org {
				@include bold;
			}
			&.title {
				@include light;
			}
		}
	}
}


// Form

form {
	width: 100%;
	max-width: 31em;
	margin: 4em auto;
	box-sizing: border-box;
	input[type="submit"] {
		font-size: 1em;
	}
}

.input-field {
	margin-bottom: 3em;
	input, textarea {
		width: 100%;
		margin: .5em 0 0;
		padding: 1em;
		border: 1px solid $border;
		border-radius: 4px;
		font-size: 1.1em;
	}
	.instruction {
		color: $border;
		font-size: .7em;
	}
}

label {
	display: block;
	@include bold;
	font-size: .8em;
	span {
		color: $border;
		margin-left: .5em;
	}
}


// User Page

.queueNumber {
	padding: 2em 0;
	font-size: 1.2em;
	span {
		font-size: 2em;
		@include bold;
	}
}

.userSubmittedInfo {
	background: $white;
	padding: 2em 3em 2em 2em;
	overflow: hidden;
	> div {
		float: left;
		&:first-child {
			width: 40%;
		}
		&:last-child {
			width: 60%;
		}
	}
	label {
		color: $border;
	}
	.pair {
		p {
			margin-top: .25em;
			font-size: 1.1em;
			margin-bottom: 1.25em;
		}
	}
}

.filesDocs {
	margin: 4em 0;
	overflow: hidden;
	min-height: 10em;
	> label {
		margin-bottom: 1em;
	}
	.uploadNew {
		text-align: center;
		color: $border;
		border: 1px dashed $border;
		width: 100%;
		padding: 2em;
		float: left;
		cursor: pointer;
		border-radius: 4px;
		&:hover {
			border-color: $black;
			p {
				color: $black;
			}
			svg.docIcon g {
				fill: $black;
			}
		}
		p {
			margin-bottom: 0;
		}
		svg.docIcon {
			display: inline-block;
			g {
				fill: $border;
			}
		}
	}
	.uploaded {
		ul {
			
		}
	}
}

.file {
	background: $white;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid $border;
	border-radius: 4px;
	svg.docIcon {
		float: left;
		margin-right: 1em;
	}
	svg.settingsIcon,
	svg.downloadIcon {
		float: right;
		cursor: pointer;
		&:hover {
			g {
				fill: $black;
			}
		}
	}
	.docName {
		@include bold;
		margin-top: .25em;
	}
	.description {
		font-size: .75em;
		margin-left: 4.25em;
		width: 100%;
		max-width: 35rem;
	}
	textarea {
		width: 100%;
		max-width: 35rem;
		border: 1px solid $border;
		padding: 1em;
		border-radius: 4px;
		@include regular;
	}
}


// Admin

#adminTabs {
	margin: 4em 0 2em;
	li {
		display: inline-block;
		margin-right: 2em;
		@include bold;
		opacity: .333;
		cursor: pointer;
		&.active, &:hover {
			opacity: 1;
		}
	}
}

#adminQueue {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 4em;
	img {
		height: 2em;
	}
	tr {
		border-bottom: 1px solid $border;
		&:last-child {
			border: none;
		}
	}
	td {
		padding: 1em;
		margin: 0;
		background-color: $white;
		&:nth-child(1) {
			font-size: 1.25em;
			width: 2em;
			text-align: right;
			@include bold;
		}
		&:nth-child(2) {
			width: 15%;
			text-align: center;
		}
		&:nth-child(3) {
			width: 25%;
			span {
				display: block;
			}
		}
		&:nth-child(4) {
			@include bold;
		}
		&:nth-child(5),
		&:nth-child(6) {
			width: 2em;
			text-align: center;
		}
		&:nth-child(5) {
			cursor: pointer;
		}
		&:nth-child(6) {
			cursor: -webkit-grab;
			&:active, &:focus {
				cursor: -webkit-grabbing;
			}
		}
	}
	.open {
		vertical-align: top;
		td:nth-child(4) {
			p {
				margin-top: 0;
			}
		}
		.moreInfo {
			font-size: .8em;
		}
	}
	.file {
		svg.docIcon {
			width: 1.5em;
			g {
				fill: $border;
			}
		}
		.description {
			margin-left: 3.25em;
			@include regular;
			max-width: 80%;
		}
	}
}


// Footer 

footer {
	.container {
		font-size: .75em;
		max-width: 28em;
	}
	svg {
		width: 1.5em;
		display: inline-block;
		height: 1.5em;
		margin-right: .25em;
	    position: relative;
	    top: 5px;
	}
	.name {
		@include medium;
	}
	span, a {
		margin-right: 1em;
		text-decoration: none;
		color: $black;
	}
	.legal {
		margin-top: 2em;
		margin-bottom: 4em;
		opacity: .33;
	}
}